@mixin flex {
	display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin calc {
	width: calc(100% - 340px);
	width: -moz-calc(100% - 340px);
  width: -webkit-calc(100% - 340px);
}

@mixin img {
	height: 100%;
	min-width: 300px;
	position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

// @include img;
// @include calc;