.container
	.row.no-gutters.footer-wrapper
		.col-xs-12.col-sm-6
			ul.footer-list
				li.footer-item
					a.footer-link(href='') Конор МакГрегор
				li.footer-item
					a.footer-link(href='') Хабиб Нурмагомедов
				li.footer-item
					a.footer-link(href='') Федор Емельяненко
				li.footer-item
					a.footer-link(href='') Александр Шлеменко
				li.footer-item
					a.footer-link(href='') Андрей Корешков
				li.footer-item
					a.footer-link(href='') Жозе Альдо
				li.footer-item
					a.footer-link(href='') Доминик Круз
				li.footer-item
					a.footer-link(href='') Деметриус Джонсон
				li.footer-item
					a.footer-link(href='') Вячеслав Василевский
				li.footer-item
					a.footer-link(href='') Йоанна Еджейчик
				li.footer-item
					a.footer-link(href='') Стипе Миочич
				li.footer-item
					a.footer-link(href='') Холли Холм
				li.footer-item
					a.footer-link(href='') Алистар Оверим
				li.footer-item
					a.footer-link(href='') Bellator
				li.footer-item
					a.footer-link(href='') Strikeforce
				li.footer-item
					a.footer-link(href='') THE ULTIMATE FIGHTER
				li.footer-item
					a.footer-link(href='') UFC
				li.footer-item
					a.footer-link(href='') Андерсон Сильва
				li.footer-item
					a.footer-link(href='') Витор Белфорт
				li.footer-item
					a.footer-link(href='') Дана Уайт
				li.footer-item
					a.footer-link(href='') Даниэль Кормье
				li.footer-item
					a.footer-link(href='') Джон Джонс
				li.footer-item
					a.footer-link(href='') Джуниор Дос Сантос
				li.footer-item
					a.footer-link(href='') Кейн Веласкес
				li.footer-item
					a.footer-link(href='') Крис Вайдмэн
				li.footer-item
					a.footer-link(href='') ММА
				li.footer-item
					a.footer-link(href='') Ронда Роузи
		.col-xs-12.col-sm-6
			.foot-widget
				.foot-widget-pic
					img(src='img/icon/logo-foot.png', alt='Top News')
				.foot-widget-content
					p
						| Средство массовой информации сетевое издание «FightTime» зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор).
				.foot-widget-content
					p
						| Свидетельство о регистрации средства массовой информации Эл № ФС77-72103 от 29.12.2017
				.foot-widget-content
					p
						| Авторское право © 2012 FightTime.Ru. Все права на материалы, размещенные на сайте, защищены в соответствии с российским и международным законодательством об авторском праве и смежных правах.
				.foot-widget-content
					p
						| При любом использовании материалов сайта активная ссылка на 
						a(href='https://fighttime.ru/') FightTime.ru
						|  обязательна.
