.list-box
	.list-box-item.list-box-item_right
		a.list-box__link.list-box__link_next(href='')
			i.fal.fa-chevron-right
		.list-content.prev-next-text
			a(href='') Жакаре Соуза: «Спустя два поединка я стану чемпионом UFC»
	.list-box-item.list-box-item_left
		a.list-box__link.list-box__link_prev(href='')
			i.fal.fa-chevron-left
		.list-content.prev-prev-text
			a(href='') Оездемир и Шоган возглавят турнир UFC Fight Night 134 в Гамбурге