nav.mob-menu.head-nav.head-nav-mob
  button.menu-gamburger-close(type='button')
    i.fal.fa-times-circle.icon-gamburger-close
  ul.menu-list-mob
    li.menu__item_form
      form.search-form-menu(action='https://fighttime.ru/search-results.html?searchid=1933334', method='get', target='_self')
        input(type='text', name='text', value='')
    li.menu__item
      a.menu__link(href='') Новости
    li.menu__item
      a.menu__link(href='') Видео
    li.menu__item
      a.menu__link(href='') Рейтинг ММА
    li.menu__item
      a.menu__link(href='') Форум
    li.menu__item
      a.menu__link(href='') О портале
    li.menu__item
      a.menu__link(href='https://www.facebook.com/FightTime.ru', target='_blank')
        span Facebook
    li.menu__item
      a.menu__link(href='https://twitter.com/fighttimeru', target='_blank')
        span Twitter
    li.menu__item
      a.menu__link(href='https://vk.com/fighttimeru', target='_blank')
        span Вконтакте
    li.menu__item
      a.menu__link(href='https://ok.ru/group/51264289898695', target='_blank')
        span Одноклассники
    li.menu__item
      a.menu__link(href='https://www.instagram.com/fighttimeru', target='_blank')
        span Instagram
