#sidebar.sidebar-wrap
	button.fe-mobi-bt(type='button') Открыть
	.sidebar-container
		.sidebar
			.tabs
				span.tab
					i.far.fa-calendar-alt
					| 										Календарь
				span.tab
					i.far.fa-chart-line
					| 										Бойцы
			.tab_content
				.tab_items
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Апр
							span.tab-num_day 20
							span.tab-num_year 2018
						p.tab-content_desc One Championship Heroes of Honor
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Апр
							span.tab-num_day 21
							span.tab-num_year 2018
						p.tab-content_desc UFC Fight Night 128 Barboza vs. Lee
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Апр
							span.tab-num_day 21
							span.tab-num_year 2018
						p.tab-content_desc ACB 85 Leone vs. Ginazov
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Апр
							span.tab-num_day 28
							span.tab-num_year 2018
						p.tab-content_desc Bellator 198 Fedor vs. Mir
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 4
							span.tab-num_year 2018
						p.tab-content_desc WFCA 48 Baku Battle
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 5
							span.tab-num_year 2018
						p.tab-content_desc FNG Fight Nights Global 87
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 5
							span.tab-num_year 2018
						p.tab-content_desc ACB 86 Balaev vs. Raisov 2
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 6
							span.tab-num_year 2018
						p.tab-content_desc Rizin FF Rizin 10
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 12
							span.tab-num_year 2018
						p.tab-content_desc One Championship Grit & Glory
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 6
							span.tab-num_year 2018
						p.tab-content_desc UFC 224 Nunes vs. Pennington
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 12
							span.tab-num_year 2018
						p.tab-content_desc One Championship Grit & Glory
					a.sidebar-item(href='')
						.tab-num
							span.tab-num_month Май
							span.tab-num_day 12
							span.tab-num_year 2018
						p.tab-content_desc M-1 Challenge 91 Doskalchuk vs. Ashimov
				.tab_items
					.fe-search-box
						form.fe-search(action='#')
							input#search_fighters.form-control.searchfeeld.query_fighters(name='namesearch', type='text', placeholder='Введите имя бойца', value='')
							.br-box
								button.btn.br-box__link(type='button')
									i.far.fa-search
					a.sidebar-item(href='')
						.item-box-pic
							img(src='img/sidebar/29688.jpg', alt='')
						.item-box-title
							p.name_rus Конор МакГрегор
							p.name_eng (Conor McGregor)
					a.sidebar-item(href='')
						.item-box-pic
							img(src='img/sidebar/5635.jpg', alt='')
						.item-box-title
							p.name_rus Хабиб Нурмагомедов
							p.name_eng (Khabib Nurmagomedov)
					a.sidebar-item(href='')
						.item-box-pic
							img(src='img/sidebar/31239.jpg', alt='')
						.item-box-title
							p.name_rus Тони Фергюсон
							p.name_eng (Tony Ferguson)
					a.sidebar-item(href='')
						.item-box-pic
							img(src='img/sidebar/27944.jpg', alt='')
						.item-box-title
							p.name_rus Джон Джонс
							p.name_eng (Jon Jones)
