doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Event
    link(rel='stylesheet', href='css/main.css')
  body
    // mob menu
    include modules/mob-menu.pug
    // end mob menu
    // wrapper-page
    .wrapper-page
      // header
      include modules/header.pug
      // end header
      // container
      .container
        // main
        .main.main-page-fighter
          // news-post
          #fb-events.base-content.news-post
            .news-post-title.fighter-title
              span.fighter-title_date 27 Июль 2018
              h1 Bellator 202 Budd vs. Nogueira
            .events
              .events_date
                span 13 Июль 2018
              .events_place
                img(src='img/icon/4.gif', alt='')
                span Соединенные Штаты, Оклахома, Такервилл, Отель-казино WinStar World
          // end new post
          // events table-box
          .base-content.table-box
            .events-table-head
              .row.no-gutters
                .col-1.table-head_col.events-table-head-col
                  span Бой
                .col-7.table-head_col.events-table-head-col
                  span Бойцы
                .col-2.text-center.table-head_col.events-table-head-col
                  span Раунд
                .col-2.text-center.table-head_col.events-table-head-col
                  span Время
            .row.no-gutters.table-body.events-table-body
              .col-1.fightinfo-vs
                span 12
              .col-lg-9.col-sm-12
                .row.fightinfo.justify-content-center
                  .col-5
                    .fightinfo-item
                      .fightinfo-item_content
                        p
                          | боев - 
                          span 23
                        p
                          | побед - 
                          span 19
                        p
                          | проигр. - 
                          span 4
                        p
                          | ничья - 
                          span 0
                      a.fightinfo-pic(href='#')
                        img(src='img/content/30297.jpg', alt='')
                    a.table-body_link(href='#')
                      p Майкл МакДональд
                      span (Michael McDonald)
                    .result-wrap
                      span.result Выиграл
                  .col-1.fightinfo-vs
                    span vs
                  .col-5
                    .fightinfo-item.fightinfo-item_loss
                      a.fightinfo-pic(href='#')
                        img(src='img/content/21767.jpg', alt='')
                      .fightinfo-item_content
                        p
                          | боев - 
                          span 26
                        p
                          | побед - 
                          span 20
                        p
                          | проигр. - 
                          span 6
                        p
                          | ничья - 
                          span 0
                    a.table-body_link.table-body_link_loss(href='#')
                      p Эдуардо Дантас
                      span (Eduardo Dantas)
                    .result-wrap.result-wrap_loss
                      span.result.loss Проиграл
                  .col-12.referee-outcome.text-center
                    p.outcome
                      | Нокаутом 
                      span.method (удары)
                    p.referee Судья: Джейкоб Монталво
              .col-1.fightinfo-vs
                span 3
              .col-1.fightinfo-vs
                span 4:07
          // end events table-box
          // sidebar tab
          include modules/sidebar.pug
          // end sidebar tab
        // end main
      // end container
    // end wrapper-page
    // footer-wrapper
    include modules/footer.pug
    // end footer-wrapper
    include modules/scripts.pug
