doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Fight Time
		link(rel='stylesheet', href='css/main.css')
	body
		// mob menu
		include modules/mob-menu.pug
		// wrapper-page
		.wrapper-page
			// header
			include modules/header.pug
			// featured
			.featured
				.container
					.wrapper-featured
						.row.no-gutters
							.col-12
								.featured-main
									a.featured-item(href='#')
										.featured-item-pic
											img.featured-xl(src='img/content/bannerxl.jpg', alt='featured')
											img.featured-m(src='img/content/bannerm.jpg', alt='featured')
										.featured-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title.featured-lid-news-title_first
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
											.featured-lid-news-desc
												p
													| Действующий чемпион UFC в полутяжелом весе, Даниэль Кормье, рассказал о том, чего он ждет от поединка своего одноклубника, Хабиба Нурмагомедова, которому уже менее чем через две недели на UFC 223 в Бруклине предстоит выйти на бой против временного обладателя титула UFC в легкой весовой категории, Тони Фергюсона.
											.featured-lid-news-date
												span Апр
												span 23,
												span 2018
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-comments(href='')
														i.fas.fa-comments
						.featured-sub-main-wrapp
							.row.no-gutters
								.col-lg-3.col-sm-6.col-12
									.featured-sub-main
										a.featured-item.featured-sub-item(href='#')
											.featured-sub-item-pic
												img(src='img/content/bannerm.jpg', alt='')
											.featured-lid.featured-sub-lid
												.featured-lid-news
													span Новости
												.featured-lid-news-desc
													p Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
												.featured-lid-news-date
													span Апр
													span 23,
													span 2018
										.read-share-overlay
											.read-share-overlay-wrapp
												a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
												ul.read-share-overlay-social
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
															i.fab.fa-vk
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
															i.fab.fa-twitter
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
															i.fas.fa-comments
								.col-lg-3.col-sm-6.col-12
									.featured-sub-main
										a.featured-item.featured-sub-item(href='#')
											.featured-sub-item-pic
												img(src='img/content/bannerm.jpg', alt='')
											.featured-lid.featured-sub-lid
												.featured-lid-news
													span Новости
												.featured-lid-news-desc
													p Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
												.featured-lid-news-date
													span Апр
													span 23,
													span 2018
										.read-share-overlay
											.read-share-overlay-wrapp
												a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
												ul.read-share-overlay-social
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
															i.fab.fa-vk
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
															i.fab.fa-twitter
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
															i.fas.fa-comments
								.col-lg-3.col-sm-6.col-12
									.featured-sub-main
										a.featured-item.featured-sub-item(href='#')
											.featured-sub-item-pic
												img(src='img/content/bannerm.jpg', alt='')
											.featured-lid.featured-sub-lid
												.featured-lid-news
													span Новости
												.featured-lid-news-desc
													p Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
												.featured-lid-news-date
													span Апр
													span 23,
													span 2018
										.read-share-overlay
											.read-share-overlay-wrapp
												a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
												ul.read-share-overlay-social
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
															i.fab.fa-vk
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
															i.fab.fa-twitter
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
															i.fas.fa-comments
								.col-lg-3.col-sm-6.col-12
									.featured-sub-main
										a.featured-item.featured-sub-item(href='#')
											.featured-sub-item-pic
												img(src='img/content/bannerm.jpg', alt='')
											.featured-lid.featured-sub-lid
												.featured-lid-news
													span Новости
												.featured-lid-news-desc
													p Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
												.featured-lid-news-date
													span Апр
													span 23,
													span 2018
										.read-share-overlay
											.read-share-overlay-wrapp
												a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
												ul.read-share-overlay-social
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
															i.fab.fa-vk
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
															i.fab.fa-twitter
													li.read-share-overlay-social__item
														a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
															i.fas.fa-comments
			// end featured
		// main
		.container
			.main
				.home-content-list
					.row.no-g
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/bannerm.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Даррен Тилл: «Я как Конор МакГрегор, только лучше»
									.home-content-link_desc
										p
											| Поединок в тяжелом весе между Чейком Конго и Хави Айалой пополнил кард турнира Bellator 199, который состоится 12 мая на арене SAP Center в Сан-Хосе.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/bannerm.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Даррен Тилл: «Я как Конор МакГрегор, только лучше»
									.home-content-link_desc
										p
											| Поединок в тяжелом весе между Чейком Конго и Хави Айалой пополнил кард турнира Bellator 199, который состоится 12 мая на арене SAP Center в Сан-Хосе.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/bannerm.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Даррен Тилл: «Я как Конор МакГрегор, только лучше»
									.home-content-link_desc
										p
											| Поединок в тяжелом весе между Чейком Конго и Хави Айалой пополнил кард турнира Bellator 199, который состоится 12 мая на арене SAP Center в Сан-Хосе.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/bannerm.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Даррен Тилл: «Я как Конор МакГрегор, только лучше»
									.home-content-link_desc
										p
											| Поединок в тяжелом весе между Чейком Конго и Хави Айалой пополнил кард турнира Bellator 199, который состоится 12 мая на арене SAP Center в Сан-Хосе.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
				// sidebar tab
				include modules/sidebar.pug
				// end sidebar tab
				// home-widget
				.home-widgets
					.wrapper-featured
						.row.no-gutters
							.col-md-12.col-sm-6.col-xs-12
								.featured-main
									a.featured-item(href='#')
										.featured-item-pic.home-widge-box-pic
											img(src='img/content/b008cfd7267630f8e1706ab4918643a0_XL.jpg', alt='')
										.featured-lid.home-widge-box-lid
											h2 ACB 85: видео и результаты
										span.play
											i.far.fa-play-circle
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-comments(href='')
														i.fas.fa-comments
							.col-md-12.col-sm-6.col-xs-12
								.row.no-gutters
									.col-sm-6.col-xs-12
										.home-featured-sub-main
											a.featured-item.featured-sub-item(href='#')
												.featured-item-pic.home-widget-grid
													img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
												.featured-lid.home-widge-box-lid
													h2 ACB 85: видео и результаты
												span.play
													i.far.fa-play-circle
											.read-share-overlay
												.read-share-overlay-wrapp
													a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
													ul.read-share-overlay-social
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
																i.fab.fa-vk
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
																i.fab.fa-twitter
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
																i.fas.fa-comments
									.col-sm-6.col-xs-12
										.home-featured-sub-main
											a.featured-item.featured-sub-item(href='#')
												.featured-item-pic.home-widget-grid
													img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
												.featured-lid.home-widge-box-lid
													h2 ACB 85: видео и результаты
												span.play
													i.far.fa-play-circle
											.read-share-overlay
												.read-share-overlay-wrapp
													a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
													ul.read-share-overlay-social
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
																i.fab.fa-vk
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
																i.fab.fa-twitter
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
																i.fas.fa-comments
									.col-sm-6.col-xs-12
										.home-featured-sub-main
											a.featured-item.featured-sub-item(href='#')
												.featured-item-pic.home-widget-grid
													img(src='img/content/75a60c4aa1dde0db3b4dd39774916ab6_M.jpg', alt='')
												.featured-lid.home-widge-box-lid
													h2 ACB 85: видео и результаты
												span.play
													i.far.fa-play-circle
											.read-share-overlay
												.read-share-overlay-wrapp
													a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
													ul.read-share-overlay-social
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
																i.fab.fa-vk
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
																i.fab.fa-twitter
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
																i.fas.fa-comments
									.col-sm-6.col-xs-12
										.home-featured-sub-main
											a.featured-item.featured-sub-item(href='#')
												.featured-item-pic.home-widget-grid
													img(src='img/content/45df5b58e97dcaa256914fa047955b85_M.jpg', alt='')
												.featured-lid.home-widge-box-lid
													h2 ACB 85: видео и результаты
												span.play
													i.far.fa-play-circle
											.read-share-overlay
												.read-share-overlay-wrapp
													a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
													ul.read-share-overlay-social
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
																i.fab.fa-vk
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
																i.fab.fa-twitter
														li.read-share-overlay-social__item
															a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
																i.fas.fa-comments
				// home-widget
				// home-content-list
				.home-content-list
					.row
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/b351c7433aed73320e3d1da36b76230c_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Корейский Зомби бросил вызов Фрэнки Эдгару
									.home-content-link_desc
										p
											| Один из самых захватывающих бойцов полулегкого дивизиона UFC, Чен Сон Джон, готов вернуться в дело, и знает, кого хочет видеть своим следующим соперником.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/8e401d90db43cd21dab70c9aee51843d_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Эдди Альварес: «Парень из Филадельфии снова будет драться с не знающим поражений русским»
									.home-content-link_desc
										p
											| Если поединок Эдди Альвареса и Хабиба Нурмагомедова станет реальностью, бывший чемпион UFC в легком весе знает, чем закончится современное противостояние Рокки Бальбоа и Ивана Драго.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/d2adb5b40d949410143ae3a13022e36f_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Кормье Густафссону: «Твоими величайшими достижениями являются два близких поражения»
									.home-content-link_desc
										p
											| Сообщив о подписании нового контракта с организацией, Александр Густафссон не упустил возможность отпустить колкость в адрес Даниэля Кормье, и действующий чемпион UFC в полутяжелом весе не оставил без ответа замечание своего бывшего соперника.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/1c9e5299227264fbd788f6cb6270c9c8_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Фрэнки Эдгар рассчитывает встретиться с победителем матча Халловэй-Ортега
									.home-content-link_desc
										p
											| Бывший чемпион UFC в легком весе, Фрэнки Эдгар, выигравший единогласным судейским решением у Каба Свонсона на UFC Fight Night 128 в Атлантик-Сити, считает свою победу достаточно значимой для того, чтобы снова претендовать на титульный шанс в полулегком дивизионе.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/b393671bf3c367e2c719bd666f3aa56c_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Кевин Ли бросил вызов Хабибу Нурмагомедову
									.home-content-link_desc
										p
											| Финишировав Эдсона Барбозу техническим нокаутом в пятом раунде, хедлайнер турнира UFC Fight Night 128, Кевин Ли, считает, что именно он должен стать следующим соперником действующего чемпиона UFC в легком весе, Хабиба Нурмагомедова.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/f940bb9691424e56053674b7b182f841_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Бонусы турнира UFC Fight Night 128
									.home-content-link_desc
										p
											| Сияр Бахадурзада, Дэвид Брэнч, Мираб Двалишвили и Рики Саймон получили по 50 000 $ премиальных за свое выступление на турнире UFC Fight Night 128 в Атлантик-Сити.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/f0f54239b0b85e6f5c96079bd217a1b7_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Понзиниббио, Оездемир и Шоган выбывают из карда UFC Fight Night 129
									.home-content-link_desc
										p
											| Турнир UFC Fight Night 129, который 19 мая станет первым мероприятием крупнейшего мма-промоушена в Чили, лишился двух главных событий.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
						.col-xs-12.col-sm-6
							.home-content-item
								.home-content-item_wrapp
									a.home-content-link(href='')
										img(src='img/content/96deaeeabaffb0543a4d5b7b5997e46c_M.jpg', alt='')
										.featured-lid-news.home-content-link_news
											span Новости
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Подробнее
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
								.home-content-info
									a.home-content-link_lid(href='')
										h2.home-content-link_title
											| Эдсон Барбоза: «Это будет война»
									.home-content-link_desc
										p
											| Эдсон Барбоза и Кевин Ли возвращаются в дело после поражений в поединках с двумя лучшими легковесами в мире, и бразильский ударник не сомневается в том, что победа на UFC Fight Night 128 в Атлантик-Сити сделает его на шаг ближе к заветному золоту UFC.
									.home-content-link_date
										span Апр
										span 23,
										span 2018
				// story-section
				.story.infinite-content
					.row.no-gutters
						.col-xs-12.col-sm-6
							article.post.home-featured-sub-main
								a.featured-item.featured-sub-item(href='#')
									.featured-item-pic.story-widget-grid
										img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
									.featured-lid.home-widge-box-lid
										.featured-lid-news
											span Новости
										.featured-lid-news-title
											h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
								.read-share-overlay
									.read-share-overlay-wrapp
										a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
										ul.read-share-overlay-social
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
													i.fab.fa-vk
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
													i.fab.fa-twitter
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
													i.fas.fa-comments
						.col-xs-12.col-sm-6
							article.post.home-featured-sub-main
								a.featured-item.featured-sub-item(href='#')
									.featured-item-pic.story-widget-grid
										img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
									.featured-lid.home-widge-box-lid
										.featured-lid-news
											span Новости
										.featured-lid-news-title
											h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
								.read-share-overlay
									.read-share-overlay-wrapp
										a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
										ul.read-share-overlay-social
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
													i.fab.fa-vk
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
													i.fab.fa-twitter
											li.read-share-overlay-social__item
												a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
													i.fas.fa-comments
				// end story-section
				.page-load-status
					p.infinite-scroll-request Loading...
					p.infinite-scroll-last End of content
					p.infinite-scroll-error No more pages to load
			// end main
			.pagination
				a.pagination__next(href='http://localhost:7880/news.html')
					| Далее
		// end wrapper-page
		// footer-wrapper
		include modules/footer.pug
		// end footer-wrapper
		// scripts
		include modules/scripts.pug
