doctype html
html(lang='ru')
head
meta(charset='UTF-8')
meta(name='description', content='')
meta(name='author', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Новость
link(rel='stylesheet', href='css/main.css')
body
	// mob menu
	include modules/mob-menu.pug
	// end mob menu
	// wrapper-page
	.wrapper-page
	// list-box
	include modules/list-box.pug
	// end list-box
	// header
	include modules/header.pug
	// end header

	// main
	.container
		.main
			// news-post
			article.news-post
				.news-post-cat-contain
					.news-post-cat-date
						span.news-post_month Апр
						span.news-post_day 23,
						span.news-post_year 2018
					.news-post_author_box
						span.news-post_author Автор
						span.news-post_author-name Fighttime
					.featured-lid-news.page-news_featured-lid-news
						a(href='') Новости
				.news-post-title
					h1
						| Федор Емельяненко: «Могу с уверенностью сказать, что мы провели огромную работу к бою с Фрэнком Миром»
				.news-post-box-pic
					img(src='img/content/34d1b0dac3b88cd536eb066f7fcba196_XL.jpg', alt='')
				.news-post-container
					p
						| Легендарный российский тяжеловес Федор Емельяненко, которому уже на этой неделе предстоит встретиться с экс-чемпионом UFC, Фрэнком Миром, в рамках четвертьфинального поединка Гран-При тяжеловесов Bellator, рассказал болельщикам о своей подготовке к бою.
				.news-post-container_desc
					blockquote
						p
							| «До моего боя с Фрэнком Миром осталась одна неделя», - написал Емельяненко в своем Инстаграм-аккаунте. «Подготовка к этому поединку разделилась на три этапа, которые прошли в Москве, в Старом Осколе, и в Амстердаме с моими тренерами Питером Тайессе и Хансом Крусом. Фрэнк – сильный боец с хорошей ударной техникой, он прекрасный грэпплер и опытный спортсмен. До поединка осталось совсем немного времени, и я могу с уверенностью сказать, что мы провели огромную работу к этому бою. Я и мой тренерский штаб выложились на 100%, поработали над тактикой. В Старом Осколе мне помогали ребята из моей команды, в Амстердаме – кикбоксеры из Нидерландов, среди которых был Хесди Гергес. Учитывая то, что Фрэнк хороший грэпплер, мы достаточно много времени уделили тренировкам в партере. Тщательно проработали защиту и нападение в стойке»
				.news-post-container
					p
						| Напомним, что поединок Федора Емельяненко и Фрэнка Мира станет главным событием турнира Bellator 198, который состоится 28 апреля в Розмонте, штат Иллинойс.
			// end news-post
			// social-news-post
			.social-news-post
				// post-tags
				.post-tags
					span.post-tags-header Тэги
					a.post-tags-link(href='') Федор Емельяненко
					a.post-tags-link(href='') Федор Емельяненко
				// end post-tags
			// end social-news-post
			// sidebar tab
			include modules/sidebar.pug
			// end sidebar tab
			.post-latest
				h2 Похожие материалы
			// story-section
			.story
				.row.no-gutters
					.col-xs-12.col-sm-6
						article.post.home-featured-sub-main
							a.featured-item.featured-sub-item(href='#')
								.featured-item-pic.story-widget-grid
									img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
								.featured-lid.home-widge-box-lid
									.featured-lid-news
										span Новости
									.featured-lid-news-title
										h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
							.read-share-overlay
								.read-share-overlay-wrapp
									a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
									ul.read-share-overlay-social
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
												i.fab.fa-vk
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
												i.fab.fa-twitter
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
												i.fas.fa-comments
					.col-xs-12.col-sm-6
						article.post.home-featured-sub-main
							a.featured-item.featured-sub-item(href='#')
								.featured-item-pic.story-widget-grid
									img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
								.featured-lid.home-widge-box-lid
									.featured-lid-news
										span Новости
									.featured-lid-news-title
										h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
							.read-share-overlay
								.read-share-overlay-wrapp
									a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
									ul.read-share-overlay-social
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
												i.fab.fa-vk
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
												i.fab.fa-twitter
										li.read-share-overlay-social__item
											a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
												i.fas.fa-comments
			// end story-section
		// end main
	// end wrapper-page
	// footer-wrapper
	include modules/footer.pug
	// end footer-wrapper


	// scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='libs/fontawesome-pro/fontawesome-all.js')
script(src='libs/nicescroll/jquery.nicescroll.min.js')
script(src='js/common.js')


