doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Новости ММА, UFC, Strikeforce, Bellator, Pride, M-1 Global, K1
		link(rel='stylesheet', href='css/main.css')
	body
		// mob menu
		include modules/mob-menu.pug
		// end mob menu
		// wrapper-page
		.wrapper-page
			// header
			include modules/header.pug
			// end header
			// main
			.container
				.main
					// sidebar tab
					include modules/sidebar.pug
					// end sidebar tab
					// story-section
					.base-content.story.infinite-content
						.row.no-gutters.row-post
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/7177ba1fd45146531e394a47dd00ee67_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
							.col-xs-12.col-sm-6
								article.post.home-featured-sub-main
									a.featured-item.featured-sub-item(href='#')
										.featured-item-pic.story-widget-grid
											img(src='img/content/9ae78f836b04687a57dec594c400ecf2_M.jpg', alt='')
										.featured-lid.home-widge-box-lid
											.featured-lid-news
												span Новости
											.featured-lid-news-title
												h2 Даниэль Кормье: «Фергюсон крут, и никогда не сдастся по собственной воле»
									.read-share-overlay
										.read-share-overlay-wrapp
											a.read-share-overlay__link.read-share-overlay__link-sub(href='#') Смотреть
											ul.read-share-overlay-social
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-vk(href='')
														i.fab.fa-vk
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-tw(href='')
														i.fab.fa-twitter
												li.read-share-overlay-social__item
													a.read-share-overlay-social__link.read-share-overlay-social__link-sub.read-share-comments(href='')
														i.fas.fa-comments
					// end story-section
				.base-content.page-load-status
					p.infinite-scroll-request Loading...
					p.infinite-scroll-last End of content
					p.infinite-scroll-error No more pages to load
			.pagination
				a.pagination__next(href='http://localhost:7880/news.html')
					| Далее
				// end main
			// end container
		// end wrapper-page

		// footer-wrapper
		include modules/footer.pug
		// end footer-wrapper

		// scripts
		include modules/scripts.pug

