* {
	box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
	font-size: 14px;
	line-height: 1.42;
}
body {
	margin: 0;
	padding: 0;
	color: $base-font-color;
	font-size: $font-size-base;
	font-family: $font-family-base;
	font-weight: 400;
	background-color: $gray;
	background: url("../img/bg/gray-bg.jpg") center;
	background-attachment: fixed;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
	color: $blue;
	font-weight: 600;
	font-family: $link-font-family;
		&:hover {
			text-decoration: none;
			outline: none;
			color: $red;
		}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: $h-color;
	// font-size: $h-font-size;
	font-weight: $h-font-weight;
}
button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
}

button:active,
button:focus {
	border: none;
	outline: none;
}
input, input:focus {
	background: transparent;
	border: none;
	outline: none;
}
img {
	width: 100%;
	height: auto;
}
.wrapper-page {
	position: relative;
  flex: 1 0 auto;
}
.footer-wrapper {
	position: relative;
  flex-shrink: 0;
}

.social-drop-list__link .svg-inline--fa {
	font-size: 1.2em;
}
.read-share-overlay-social__link .svg-inline--fa,
.tabs .svg-inline--fa,
.btn.br-box__link .svg-inline--fa {
	color: $white;
}

body.overlay {
    overflow: hidden;
}
.overlay::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
		transition: all 300ms ease;
}
