/*=================
footer
==================*/
.footer-wrapper {
	background: darken($dark-gray, 15%);
  padding: 60px 15px 60px;
}

.footer-item {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	background: $dark-gray;
	padding: 5px 10px;
		&:hover {
			background: $red;
		}
		&:hover .footer-link {
			color: $white;
		}
}
.footer-link {
	font-size: .8em;
	color: $white;
	text-transform: uppercase;
	transition: .4s;
}


.foot-widget-pic {
	margin-bottom: 15px;
	@include screen(320px, 1130px) {
		margin: 15px 0;
	}
		img {
			width: auto;
		}
}
.foot-widget-content {
	margin-bottom: 15px;
		p {
			font-size: 1em;
			color: lighten($dark-gray, 25%);
		}
}
