// sidebar
.sidebar-wrap {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid lighten($dark-gray, 35%);
	z-index: 999;
}
.sidebar-container {
	background: $bg-color-sidebar;
	width: 340px;
  	&_fixed {
			position: fixed;
  		transform: translateX(-100%);
  		top: 76px;
		}
}
.sidebar {
	position: relative;
	width: 340px;
}

.tabs {
	display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 43px;
}
.tab {
	display: inline-block;
	width: 50%;
	padding: 11px 10px;
	background: darken($dark-gray, 5%);
	color: lighten($dark-gray, 40%);
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	transition: all 300ms ease;
  font-family: $font-family-dop;
  cursor: pointer;
  	&:hover {
  		background: $blue;
  	}
  	&-active {
  		background: $blue;
  	}
  	&_content {
  		height: 100vh;
  		overflow: auto;
  	}
}

.sidebar-item {
	display: flex;
	margin-top: -1px;
	padding: 15px;
	border-top: 1px solid lighten($dark-gray, 35%);
	border-bottom: 1px solid lighten($dark-gray, 35%);
	transition: all 300ms ease;
	align-items: center;
		&:hover {
			background: $white;
		}
}

.tab-num {
	text-align: center;
	min-width: 60px;
	width: 20%;
	border: 1px solid lighten($dark-gray, 35%);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 0.9em;
	margin-right: 20px;
		span {
			display: block;
			line-height: 100%;
			font-weight: 700;
			text-transform: uppercase;
			padding: 5px;
		}
}

.tab-num_month {
  color: $white;
  background-color: $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
}

.tab-num_day {
	color: $blue;
	background: $white;
	font-size: 1.5em;
}

.tab-num_year {
	color: $white;
	background: lighten($dark-gray, 35%);
}

.tab-content_desc {
	line-height: 130%;
	font-size: 1.2em;
}
.item-box-pic {
	width: 20%;
	margin-right: 20px;
	font-size: 1.5em;
		img {
			width: 50px;
		}
}

.item-box-title {
	font-size: 1.2em;
	.name_rus {
			font-weight: 700;
		}
	.name_eng {
		  font-weight: 400;
		}
}

.fe-search-box {
  font-size: 1em;
  font-weight: 700;
  color: $base-font-color;
  background: $white;
  outline: none;
}
.fe-search {
	display: flex;
  justify-content: space-between;
  	input {
  		width: 80%;
			padding: 10px 10px 9px;
		  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
		  border: none;
		  border-bottom: 1px solid lighten($dark-gray, 20%);
		  font-size: 1em;
		  font-weight: 700;
		  color: $base-font-color;
  	}
  	.btn {
  		color: $white;
  		padding: 10px;
  	}
}

.fe-search ::-webkit-input-placeholder {color:lighten($base-font-color, 10%); font-size: 1rem; font-weight: 700; text-transform: none;}
.fe-search ::-moz-placeholder          {color:lighten($base-font-color, 10%); font-size: 1rem; font-weight: 700; text-transform: none;}/* Firefox 19+ */
.fe-search :-moz-placeholder           {color:lighten($base-font-color, 10%); font-size: 1rem; font-weight: 700; text-transform: none;}/* Firefox 18- */
.fe-search :-ms-input-placeholder      {color:lighten($base-font-color, 10%); font-size: 1rem; font-weight: 700; text-transform: none;}

.br-box {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $blue;
}

.fe-mobi-bt {
    display: none;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 5;
    background: $blue;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin-top: -52px;
    padding: 5px 20px;
    position: fixed;
    top: 50%;
    right: -35px;
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transition: right 300ms ease;
}


/*=================
adaptive sidebar
==================*/
@media screen and (max-width: 1130px) and (min-width: 320px) { 
// .sidebar-container {
//   	&_fixed {
// 			position: relative;
//     	transform: none;
//     	top: 0;
// 		}
// 	}
// 	.sidebar-wrap {
// 	    position: fixed;
// 	    top: 52px;
// 	    right: -340px;
// 	    transition: all 300ms ease;
//     	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
//     	border-left: 10px solid $blue;
// 	}
// 	.sidebar-wrap-show {
// 		right: 0;
// 		.fe-mobi-bt {
// 	    right: 310px;
// 		}
// 	}

// 	.fe-mobi-bt {
// 		display: block;
// 	}
}
@media screen and (max-width: 1024px) and (min-width: 320px) { 
.sidebar-container {
  	&_fixed {
			position: relative;
    	transform: none;
    	top: 0;
		}
	}
	.sidebar-wrap {
	    position: fixed;
	    top: 52px;
	    right: -340px;
	    transition: all 300ms ease;
    	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    	border-left: 10px solid $blue;
	}
	.sidebar-wrap-show {
		right: 0;
		.fe-mobi-bt {
	    right: 310px;
		}
	}

	.fe-mobi-bt {
		display: block;
	}
}
@media screen and (max-width: 375px) and (min-width: 320px) {
	.sidebar-wrap-show {
	    right: -20px;
				.fe-mobi-bt {
    			right: 285px;
			}
		}
}
